body{
  section.secmenu1{
    background-color: $transparency;
    display: flex;
    border-radius: $bordes;
    margin-top: $margensuperior;
      img.livier{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $bordes;
      }
  }
}
footer.menu1{
  margin-top: $margensuperior;
  font-size: $tamletra;
  background-color: $transparency;
  font-weight: bolder;
  text-align: center;
  border-radius: $bordes;
    div.menu1{
      display: flex;
      justify-content: space-around;
      font-size: 15px;
    }
}
